.Dialog {
  cursor: pointer;
  padding: 6px 10px 8px 15px;
  position: relative; }
  .Dialog:hover {
    background-color: rgba(255, 92, 62, 0.3); }
  .Dialog .dialog-time {
    letter-spacing: -1px;
    position: absolute;
    right: 14px;
    top: 10px;
    font-size: 12px; }
  .Dialog .dialog-img {
    background-color: white;
    width: 48px;
    height: 48px;
    vertical-align: middle;
    border-radius: 50%;
    overflow: hidden;
    margin-right: 15px;
    display: inline-block; }
  .Dialog .dialog-message-wrap {
    vertical-align: middle;
    font-size: 13px;
    display: inline-block;
    word-wrap: break-word;
    overflow: hidden; }
    .Dialog .dialog-message-wrap .dialog-message-name {
      color: black;
      font-weight: 700; }
    .Dialog .dialog-message-wrap .dialog-message-text {
      color: #999; }

.Dialog-active {
  background-color: rgba(255, 92, 62, 0.8) !important; }
  .Dialog-active .dialog-time {
    color: white !important; }
  .Dialog-active .dialog-message-wrap .dialog-message-name {
    color: white !important; }
  .Dialog-active .dialog-message-wrap .dialog-message-text {
    color: white !important; }
