$layer-header-height : 54px;
$layer-search-height : 32px;

.Layer {
	display : block !important;
	height : 100%;
	position : absolute;
	top : 0;
	transition : opacity 1s linear;
	z-index : 200;
	width : 100%;
	background-color : rgba(0,0,0,0.6);
}

.layer-close {
	position : absolute;
	right : 10px;
	top : 10px;
	width : 25px;
	height : 25px;
	cursor : pointer;
	background-image : url('/img/close.png');
	background-repeat: no-repeat;
	background-size : 25px 25px;
	background-color : white;
}

.layer-box {
	display : block;
	margin : auto;
	margin-top : 100px;
	vertical-align : middle;
	background-color : white;
	height : calc( 100% - 180px );
	max-width: 420px;
	width : calc( 100% - 20px );
	position : relative;
	.layer-box-close {
		position : absolute;
		right : 18px;
		top : 18px;
		width : 20px;
		height : 20px;
		cursor : pointer;
		background-image : url('/img/close.png');
		background-repeat: no-repeat;
		background-size : 20px 20px;
		background-color : white;
	}
	.layer-title {
		height : $layer-header-height;
		width : 100%;
		color : white;
		font-weight : bold;
		background-color : rgba($color-normal,1);
		line-height : $layer-header-height;
		box-sizing : border-box;
		padding-left : 20px;
	}
	.chat-info-div {
		padding : 20px 0px 20px 23px;
		border-bottom : 1px solid #dfdfdf;
	}

	.chat-info-img {
		cursor : pointer;
		display : inline-block;
		width : 60px;
		height : 60px;
		background-size : cover;
		border-radius : 50%;
		vertical-align : middle;
	}
	.chat-info-text {
		margin-left : 10px;
		display : inline-block;
		line-height : 25px;
		vertical-align : middle;
		.chat-info-name {
			font-weight : bold;
			color : rgba($color-normal,1);
		}
		 .chat-info-cnt {
			font-size : 0.9em;
			color : rgba(0,0,0,.7);
		}
	}
	.chat-info-menu {
		border-bottom : 1px solid #dfdfdf;
		padding-top : 7px;
		padding-bottom : 7px;
		.chat-info-menu-div {
			border-right : 1px solid #ebebeb;
			display : inline-block;
			cursor : pointer;
			width : 50%;
			text-align : center;
			padding-top : 3px;
			padding-bottom : 3px;
			box-sizing : border-box;
			&:last-child {
				border-right : 0px;
			}
			&:hover {
				color : rgba($color-normal,1);
			}
		}
	}
	.layer-list {
		display : block;
		width : 100%;
		overflow-y : overlay;
		padding-top : 7px;
		height : calc( 100% - #{$layer-header-height} - #{$layer-search-height} );
		.layer-list-item {
			cursor : pointer;
			padding : 6px 10px 8px 15px;
			position : relative;
			text-align : left;
			&:hover {
				background-color : rgba($color-normal,.3);
			}
			.layer-list-img {
				background-color : white;
				width : 48px;
				height : 48px;
				vertical-align : middle;
				border-radius : 50%;
				overflow : hidden;
				margin-right : 15px;
				display : inline-block;
			}
			.layer-list-wrap {
				vertical-align : middle;
				font-size : 13px;
				display : inline-block;
				word-wrap : break-word;
				overflow : hidden;
				.layer-list-name {
					color : black;
					font-weight : 700;
				}
				.layer-list-handle {
					margin-top : 2px;
					color : #999;
				}
			}
		}
		.layer-list-item-active {
			background-color: $color-normal !important;
			.layer-list-time {
				color : white !important;
			}
			.layer-list-wrap {
				.layer-list-name {
					color : white !important;
				}
				.layer-list-handle {
					color : white !important;
				}
			}
		}
	}

	.layer-group {
		display : none;
		.layer-group-label {
			cursor : pointer;
			display : block;
			margin : auto;
			width : 80px;
			height : 80px;
			border-radius : 50%;
			background-repeat : no-repeat;
			background-size : 100% 100%;
			margin-top : 30px;
			margin-bottom : 30px;
			background-position : center center;
			background-clip : content-box;
			background-image : url('/svg/profile.svg');
		}  
		.layer-group-name {
			margin : auto;
			border : 0;
			border-bottom : 1px solid #a3a3a3;
			padding-bottom : 7px;
			font-size : 14px;
			width : calc( 100% - 20px );
			max-width : 200px;
			transition : border-bottom .2s linear;
			width : 200px;
			text-align : center;
			outline : none;
			display : block;
			&:focus {
				border-bottom : 1px solid rgba($color-normal,1);
			}
		}
		.layer-group-file {
			display : none;
		}
	}
	.layer-menu {
		color :  rgba($color-normal,0.7);
		text-align : right;
		font-weight : bold;
		box-sizing : border-box;
		width : 100%;
		cursor : default;
		.layer-menu-item {
			padding : 8px 0px 8px 16px;
			cursor : default;
			display : inline-block;
		}
		.layer-menu-active {
			color : rgba($color-normal,1);
			cursor : pointer;
		}
	}

	.layer-search-box {
		height : $layer-search-height;
		width : 100%;
		box-sizing : border-box;
		padding : 6px 10px 8px 15px;
		box-shadow: 0 1px 1px rgba(0,0,0,.15);
		.layer-search {
			width : 100%;
			background-color : white;
			border : 0;
		}
	}
}
