.Layer {
  display: block !important;
  height: 100%;
  position: absolute;
  top: 0;
  transition: opacity 1s linear;
  z-index: 200;
  width: 100%;
  background-color: rgba(0, 0, 0, 0.6); }

.layer-close {
  position: absolute;
  right: 10px;
  top: 10px;
  width: 25px;
  height: 25px;
  cursor: pointer;
  background-image: url("/img/close.png");
  background-repeat: no-repeat;
  background-size: 25px 25px;
  background-color: white; }

.layer-box {
  display: block;
  margin: auto;
  margin-top: 100px;
  vertical-align: middle;
  background-color: white;
  height: calc( 100% - 180px);
  max-width: 420px;
  width: calc( 100% - 20px);
  position: relative; }
  .layer-box .layer-box-close {
    position: absolute;
    right: 18px;
    top: 18px;
    width: 20px;
    height: 20px;
    cursor: pointer;
    background-image: url("/img/close.png");
    background-repeat: no-repeat;
    background-size: 20px 20px;
    background-color: white; }
  .layer-box .layer-title {
    height: 54px;
    width: 100%;
    color: white;
    font-weight: bold;
    background-color: #ff5c3e;
    line-height: 54px;
    box-sizing: border-box;
    padding-left: 20px; }
  .layer-box .chat-info-div {
    padding: 20px 0px 20px 23px;
    border-bottom: 1px solid #dfdfdf; }
  .layer-box .chat-info-img {
    cursor: pointer;
    display: inline-block;
    width: 60px;
    height: 60px;
    background-size: cover;
    border-radius: 50%;
    vertical-align: middle; }
  .layer-box .chat-info-text {
    margin-left: 10px;
    display: inline-block;
    line-height: 25px;
    vertical-align: middle; }
    .layer-box .chat-info-text .chat-info-name {
      font-weight: bold;
      color: #ff5c3e; }
    .layer-box .chat-info-text .chat-info-cnt {
      font-size: 0.9em;
      color: rgba(0, 0, 0, 0.7); }
  .layer-box .chat-info-menu {
    border-bottom: 1px solid #dfdfdf;
    padding-top: 7px;
    padding-bottom: 7px; }
    .layer-box .chat-info-menu .chat-info-menu-div {
      border-right: 1px solid #ebebeb;
      display: inline-block;
      cursor: pointer;
      width: 50%;
      text-align: center;
      padding-top: 3px;
      padding-bottom: 3px;
      box-sizing: border-box; }
      .layer-box .chat-info-menu .chat-info-menu-div:last-child {
        border-right: 0px; }
      .layer-box .chat-info-menu .chat-info-menu-div:hover {
        color: #ff5c3e; }
  .layer-box .layer-list {
    display: block;
    width: 100%;
    overflow-y: overlay;
    padding-top: 7px;
    height: calc( 100% - 54px - 32px); }
    .layer-box .layer-list .layer-list-item {
      cursor: pointer;
      padding: 6px 10px 8px 15px;
      position: relative;
      text-align: left; }
      .layer-box .layer-list .layer-list-item:hover {
        background-color: rgba(255, 92, 62, 0.3); }
      .layer-box .layer-list .layer-list-item .layer-list-img {
        background-color: white;
        width: 48px;
        height: 48px;
        vertical-align: middle;
        border-radius: 50%;
        overflow: hidden;
        margin-right: 15px;
        display: inline-block; }
      .layer-box .layer-list .layer-list-item .layer-list-wrap {
        vertical-align: middle;
        font-size: 13px;
        display: inline-block;
        word-wrap: break-word;
        overflow: hidden; }
        .layer-box .layer-list .layer-list-item .layer-list-wrap .layer-list-name {
          color: black;
          font-weight: 700; }
        .layer-box .layer-list .layer-list-item .layer-list-wrap .layer-list-handle {
          margin-top: 2px;
          color: #999; }
    .layer-box .layer-list .layer-list-item-active {
      background-color: #ff5c3e !important; }
      .layer-box .layer-list .layer-list-item-active .layer-list-time {
        color: white !important; }
      .layer-box .layer-list .layer-list-item-active .layer-list-wrap .layer-list-name {
        color: white !important; }
      .layer-box .layer-list .layer-list-item-active .layer-list-wrap .layer-list-handle {
        color: white !important; }
  .layer-box .layer-group {
    display: none; }
    .layer-box .layer-group .layer-group-label {
      cursor: pointer;
      display: block;
      margin: auto;
      width: 80px;
      height: 80px;
      border-radius: 50%;
      background-repeat: no-repeat;
      background-size: 100% 100%;
      margin-top: 30px;
      margin-bottom: 30px;
      background-position: center center;
      background-clip: content-box;
      background-image: url("/svg/profile.svg"); }
    .layer-box .layer-group .layer-group-name {
      margin: auto;
      border: 0;
      border-bottom: 1px solid #a3a3a3;
      padding-bottom: 7px;
      font-size: 14px;
      width: calc( 100% - 20px);
      max-width: 200px;
      transition: border-bottom .2s linear;
      width: 200px;
      text-align: center;
      outline: none;
      display: block; }
      .layer-box .layer-group .layer-group-name:focus {
        border-bottom: 1px solid #ff5c3e; }
    .layer-box .layer-group .layer-group-file {
      display: none; }
  .layer-box .layer-menu {
    color: rgba(255, 92, 62, 0.7);
    text-align: right;
    font-weight: bold;
    box-sizing: border-box;
    width: 100%;
    cursor: default; }
    .layer-box .layer-menu .layer-menu-item {
      padding: 8px 0px 8px 16px;
      cursor: default;
      display: inline-block; }
    .layer-box .layer-menu .layer-menu-active {
      color: #ff5c3e;
      cursor: pointer; }
  .layer-box .layer-search-box {
    height: 32px;
    width: 100%;
    box-sizing: border-box;
    padding: 6px 10px 8px 15px;
    box-shadow: 0 1px 1px rgba(0, 0, 0, 0.15); }
    .layer-box .layer-search-box .layer-search {
      width: 100%;
      background-color: white;
      border: 0; }
