.Message {
	margin : 8px;
  text-align : left;
	.message-body-caret {
		display : inline-block;
		margin : 0px;
		position : absolute;
		top : 28px;
		width : 10px;
		height : 18px;
		overflow : hidden;
		.message-body-caret-outer, .message-body-caret-inner {
			position : absolute;
			display : inline-block;
			margin-left : -1px;
		}
	}

	.message-profileimg {
		background-size : 100% 100%;
		cursor : pointer;
		width : 50px;
		height : 50px;
		border-radius : 50%;
		display : inline-block;
		vertical-align : top;
	}
	.message-body {
    text-align : left;
		display : inline-block;
		margin-bottom : 4px;
		position : relative;
		vertical-align : top;
    max-width : 100%;
		text-align : left;
		.message-body-div {
			margin : 5px;
		}
		.message-body-name {
			margin-bottom : 5px;
			display : inline-block;
			text-decoration : none;
			cursor : pointer;
			color : rgba($color-normal,8);
			font-weight : 600;
			margin-top : 2px;
		}
		.message-body-text {
			margin-left : 8px;
      max-width : 100%;
      word-break: break-all;
      text-align: left;
			display : inline-block;
			color : black;
			font-size : 15px;
			background-color : white;
      
			border : 1px solid rgba($color-normal,8);
			padding : 8px 10px 10px 10px;
			border-radius : 4px;
			margin-top : 0px;
		}
		.message-body-file {
			max-width : 100%;
			cursor : pointer;
			max-height : 140px;
			display : block;
			margin-top : 0px;
			margin-bottom : 15px;
			border-radius : 4px;
		}
		.message-body-preview {
      max-width : 300px;
    }
	}
	.message-body-caret-outer {
		border-right : 10px solid rgba($color-normal,0.8);
		border-bottom : 10px solid transparent;
		height : auto;
		left : 0;
		top : 0;
		width : auto;
	}
	.message-body-caret-inner {
		top : 1px;
		left : 2px;
		border-right : 9px solid white;
		border-bottom : 9px solid transparent;
	}
}
.Message-my {
  text-align : right;
	.message-body {
    text-align : right;
		.message-body-name {
			margin-left : 0px;
		}
		.message-body-text {
			margin-right : 9px;
		}
		.message-body-file {
			margin-left : auto;
		}
	}
	.message-body-caret {
		left : auto;
		right : 0px;
		.message-body-caret-outer {
			border-right : 0;
			border-left : 10px solid rgba($color-normal,0.8);
			left : auto;
			right : 0px;
		}
		.message-body-caret-inner {
			border-right : 0;
			border-left : 9px solid white;
			left : auto;
			right : 2px;
		}
	}
}
