.Message {
  margin: 10px; }
  .Message .message-body-caret {
    left: -8px;
    display: inline-block;
    margin: 0px;
    position: absolute;
    top: 28px;
    width: 10px;
    height: 18px;
    overflow: hidden; }
    .Message .message-body-caret .message-body-caret-outer, .Message .message-body-caret .message-body-caret-inner {
      position: absolute;
      display: inline-block;
      margin-left: -1px; }
  .Message .message-profileimg {
    background-size: 100% 100%;
    cursor: pointer;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    display: inline-block;
    vertical-align: top; }
  .Message .message-body {
    width: 100%;
    display: inline-block;
    margin: 4px;
    margin-top: 0px;
    position: relative;
    vertical-align: top; }
    .Message .message-body .message-body-div {
      margin: 5px; }
    .Message .message-body .message-body-name {
      margin-left: 9px;
      margin-bottom: 5px;
      display: block;
      text-decoration: none;
      cursor: pointer;
      color: #ff5c3e;
      font-weight: 600;
      margin-top: 2px; }
    .Message .message-body .message-body-text {
      display: inline-block;
      color: black;
      font-size: 15px;
      background-color: white;
      border: 1px solid #ff5c3e;
      padding: 8px 10px 10px 10px;
      border-radius: 4px;
      margin-top: 0px; }
    .Message .message-body .message-body-file {
      max-width: 50%;
      cursor: pointer;
      max-height: 140px;
      display: block;
      margin-top: 0px;
      margin-bottom: 15px;
      border-radius: 4px; }
  .Message .message-body-caret-outer {
    border-right: 10px solid rgba(255, 92, 62, 0.8);
    border-bottom: 10px solid transparent;
    height: auto;
    left: 0;
    top: 0;
    width: auto; }
  .Message .message-body-caret-inner {
    top: 1px;
    left: 2px;
    border-right: 9px solid white;
    border-bottom: 9px solid transparent; }

.Message-my {
  text-align: right; }
  .Message-my .message-body .message-body-name {
    margin-left: 0px; }
  .Message-my .message-body .message-body-text {
    margin-right: 9px; }
  .Message-my .message-body .message-body-file {
    margin-left: auto; }
  .Message-my .message-body-caret {
    left: auto;
    right: 0px; }
    .Message-my .message-body-caret .message-body-caret-outer {
      border-right: 0;
      border-left: 10px solid rgba(255, 92, 62, 0.8);
      left: auto;
      right: 0px; }
    .Message-my .message-body-caret .message-body-caret-inner {
      border-right: 0;
      border-left: 9px solid white;
      left: auto;
      right: 2px; }
