$send-panel-height : 48px;

.Panel {
	overflow : hidden;
	padding-right : 2px;
  width : 100%;
	max-height : calc( 100% - #{$send-panel-height} );
	min-height : 60%;
	box-sizing : border-box;
	&:hover {
		padding-right : 0px;
		overflow-y : scroll;
	}
	&::-webkit-scrollbar {
		width : 2px;
	}
	&::-webkit-scrollbar-thumb {
		background-color : rgba($color-normal,.6);
		background-clip : padding-box;
	}
}
