$card-header-height : 100px;
$profile-size : 60px;

.UserCard {
  text-align : left;
	display : inline-block;
	vertical-align : top;
	position : relative;
	background-color : white;
	border-radius : 4px;
	border : 1px solid;
	box-sizing : border-box;
  width: 300px;
	margin-top : 10px;
	border-color: #e5e6e9 #dfe0e4 #d0d1d5;
  margin-right: 10px;
  @include media("<medium"){
    &:nth-child(2n){
      margin-right: 0px;
    }
  }
	.UserCard-header {
		display : block;
		text-align : center;
		color : #202020;
		height : $card-header-height;
		background-color : $color-normal;
		background-size : cover;
		background-position : center center;
		background-clip : content-box;
		font-size : 18px;
		width : 100%;
		cursor : pointer;
		border-radius : 4px 4px 0 0;
		border-bottom : 1px solid rgba(0,0,0,0.1);
	}
	.UserCard-profile {
		display : block;
		width : $profile-size;
		height : $profile-size;
		left : 10px;
		border-radius : 50%;
		background-color : white;
		background-size : cover;
		background-clip : content-box;
		box-sizing : auto;
		border : 4px solid white;
		position : absolute;
		cursor : pointer;
		top : calc( #{$card-header-height} - #{$profile-size}/2 );
	}

	.UserCard-btn-wrap {
		display : block;
		text-align : right;
		margin-top : 10px;
		margin-bottom : 10px;
		padding-right : 10px;
		box-sizing : border-box;
		.UserCard-btn {
			display : inline-block;
		  cursor : pointer;
			text-align : center;
			font-size : 12px;
			height : 26px;
			line-height : 26px;
			width : 86px;
			
			border-radius : 30px;
			color : white;
			background-color : $color-normal;
		}
	}

	.UserCard-follower {
		display : inline-block;
		margin-left : 6px;
		color : #8899a6;
		font-size : 11px;
	}

	.UserCard-user {
		font-size : 13pt;
		cursor : pointer;
		display : inline-block;
		text-decoration : none;
		margin-left : 12px;
		margin-bottom : 12px;
		line-height : 18px;
		.UserCard-name {
			font-weight : bold;
			color : black;
			text-decoration : none;
			&:hover {
				text-decoration : underline;
			}
		}
		.UserCard-handle {
			font-size : 12px;
			color : #657786;
			display : inline-block;
			text-decoration : none;
			&:hover {
				text-decoration : underline;
			}
		}
	}
}

