.Body {
	background-image : url('/images/back.svg');
	background-size : 100% 100%;
	overflow : hidden;
	position : absolute;
	top : $header-height;
	padding : 0px;
	width : 100vw;
	height : 100%;
	max-height : calc( 100vh - 42px );
	overflow-y : hidden;
	text-align : center;
}

.body-scroll {
	overflow-y : scroll;
}

.body-wrap {
	max-width : 100%;
	text-align : left;
	display : inline-block;
}
