.Setting {
  .setting-tabs {
    display : inline-block;
    vertical-align : top;
    background-color : white;
    .setting-tab {
      cursor : pointer;
    }
  }
  .setting-body {
    display : inline-block;
    vertical-align : top;
    background-color : white;
    width : 600px;
    max-width : 100%;
  }
}
