.Setting {
  padding-top : 10px;
  width : 500px;
  display : block;
  margin : auto;
  min-height : calc( 100vh - $header-height );
  .setting-tabs {
    display : block;
    border-top : 1px;
    text-align : left;
    border : 1px solid #e5e6e9;
    background-color : white;
    .setting-tab {
      display : inline-block;
      font-size : 14px;
      padding : 14px;
      color : black;
      cursor : pointer;
      text-decoration : none;
    }
    .setting-tab-active {
      color : $color-normal;
    }
  }
  .setting-body {
    display : inline-block;
    vertical-align : top;
    background-color : white;
    border : 1px solid #e5e6e9;
    border-top: none;
    box-sizing: border-box;
    width : 600px;
    max-width : 100%;
  }
}
