@font-face	{
	font-family: 'NanumSquare';
	font-weight: 400;
	src: url("/public/fonts/NanumSquareR.eot");
	src: url("/public/fonts/NanumSquareR.eot?#iefix") format('embedded-opentype'),
		 url("/public/fonts/NanumSquareR.woff") format('woff'),
		 url("/public/fonts/NanumSquareR.ttf") format('truetype');
}
@font-face	{
	font-family: 'NanumSquare';
	font-weight: 700;
	src: url("/public/fonts/NanumSquareB.eot");
	src: url("/public/fonts/NanumSquareB.eot?#iefix") format('embedded-opentype'),
		 url("/public/fonts/NanumSquareB.woff") format('woff'),
		 url("/public/fonts/NanumSquareB.ttf") format('truetype');
}
@font-face	{
	font-family: 'NanumSquare';
	font-weight: 800;
	src: url("/public/fonts/NanumSquareEB.eot");
	src: url("/public/fonts/NanumSquareEB.eot?#iefix") format('embedded-opentype'),
		 url("/public/fonts/NanumSquareEB.woff") format('woff'),
		 url("/public/fonts/NanumSquareEB.ttf") format('truetype');
}
@font-face	{
	font-family: 'NanumSquare';
	font-weight: 300;
	src: url("/public/fonts/NanumSquareL.eot");
	src: url("/public/fonts/NanumSquareL.eot?#iefix") format('embedded-opentype'),
		 url("/public/fonts/NanumSquareL.woff") format('woff'),
		 url("/public/fonts/NanumSquareL.ttf") format('truetype');
}
