@import "../../node_modules/breakpoint-sass/stylesheets/_breakpoint.scss";
@import "../../node_modules/include-media/dist/include-media";

$breakpoints: (
	medium : 610px,
	large : 932px,
	full : 1500px
);

$header-height : 42px;
$color-normal : #ff5c3e;
