.Preview {
	display : block;
	margin-top : 10px;
	box-shadow : 0 0 0 1.5px rgba(0, 0, 0, .1) inset, 0 1px 1px rgba(0, 0, 0, .05);
	white-space : pre-line;
  color : black;
  text-align : left;
  &:visited {
	  color : black;
  }
  .preview-img {
	  margin : auto;
	  display : block;
	  width : 100%;
    height : 100%;
	  bottom : 0px;
    background-size : cover;
	  background-color : white;
    background-position : center center;
    border-top : 1px solid #e5e6e9;
    border-bottom : 1px solid #e5e6e9;
	  position : relative;
    .preview-iframe {
      height : 100%;
      width : 100%;
    }
  }
  .preview-text {
	  display : flex;
	  padding-bottom : 10px;
	  margin-top : 0px;
	  display : inline-block;
	  margin : 10px;
	  margin-bottom : 0px;
	  font-size : 17px;
  }
  .preview-title {
  	font-weight : bold;
  	margin : 10px;
  }
  .preview-description {
  	font-size : 15px;
  	margin : 10px;
  }
}

