$item-icon-size : 50px;
.Notice-Item {
  margin : auto;
  box-sizing : border-box;
  width : 100%;
  font-family : inherit;
  word-wrap : break-word;
  background-color : white;
  position : relative;
  font-size : 13px;
  letter-spacing : 0px;
  border : 1px solid;
  border-color : #e5e6e9 #dfe0e4 #d0d1d5;
  border-top : 0px;
  padding : 10px;
  display : block;
  transition : opacity .3s linear;
  text-decoration : none;
  color : black;
  text-align : left;
  
  .item-icon {
    display : inline-block;
    margin-right : 10px;
    border-radius : $item-icon-size;
    vertical-align : middle;
    width : $item-icon-size;
    height : $item-icon-size;
  }
  .item-text {
    display : inline-block;
    vertical-align : middle;
  }
  .item-date {
    letter-spacing : -1px;
    position : absolute;
    right : 14px;
    top : 10px;
    font-size : 12px;
  }
}
