@import 'styles/utils.scss';
@import 'styles/fonts.scss';

body {
	margin: 0;
	padding: 0;
	overflow-x : hidden;
	font-family: 'NanumSquare', 'Open Sans', 'HelveticaNeue', 'Helvetica Neue', Helvetica, Arial, sans-serif;
}

#root {
	height : 100vh;
    width : 100vw;
    background-color : #f2f2f2;
}

input {
	outline : none;
}

/*
@mixin scrollbars($size, $foreground-color, $background-color: mix($foreground-color, white, 50%)) {
	::-webkit-scrollbar {
		width:	$size;
		height: $size;
	}
	::-webkit-scrollbar-thumb {
		background: $foreground-color;
	}

	::-webkit-scrollbar-track {
		background: rgba($background-color,0);
	}
	body {
		scrollbar-face-color: $foreground-color;
		scrollbar-track-color: $background-color;
	}
}
@include scrollbars(.5em, slategray);
*/
