@import "../../styles/utils.scss";

.Newsfeed {
	text-align : left;
	display : inline-block;
	vertical-align : top;
	padding-top : 10px;
    overflow-y : hidden;
    min-height : calc( 100vh - 42px );
    width : 600px;
	max-width : 100%;
    box-sizing : border-box;
	@include media("<medium"){
		padding-top : 0px;
	}
}
