.Newsfeed {
  margin: auto;
  padding-top: 10px;
  overflow-y: hidden;
  min-height: calc( 100vh - 42px);
  width: 650px;
  max-width: 100%;
  box-sizing: border-box;
  display: block; }
  @media (max-width: 649px) {
    .Newsfeed {
      padding-top: 0px; } }
