@import "../../styles/utils.scss";

.Newsfeed {
	text-align : left;
	display : inline-block;
	vertical-align : top;
  overflow-y : hidden;
  min-height : calc( 100vh - $header-height );
  width : 600px;
	max-width : 100%;
  box-sizing : border-box;
  padding-bottom : 10px;
	@include media("<medium"){
		padding-top : 0px;
	}
}
