@include keyframes(fadein){
  0% {
    opacity : 0;
  }
  100% {
    opacity : 1;
  }
}

.Post {
	margin : auto;
	box-sizing : border-box;
	width : 100%;
  max-width : 600px;
  text-align : left;
	font-family : inherit;
	word-wrap : break-word;
	background-color : white;
	position : relative;
	font-size : 13px;
	letter-spacing : 0px;
	border : 1px solid;
	border-color : #e5e6e9 #dfe0e4 #d0d1d5;
	border-radius : 3px;
	padding : 10px;
	display : block;
	margin-top : 10px;
  opacity : 1;
	text-decoration : none;
  animation-duration: 0.7s;
  animation-fill-mode: forwards;
	cursor : default;
	color : black;

	@include media("<medium"){
		border-top : 0px;
		border-left : 0px;
		border-right : 0px;
		margin-bottom : 0px;
		border-radius : 0px;
    margin-top: 0;
	}
	.post-profile {
		width : 50px;
		height : 50px;
		display : inline-block;
		vertical-align : top;
		border  : 1px solid rgba(0, 0, 0, .1);
		border-radius : 25px;
		margin-right : 10px;
		background : white;
		overflow : hidden;

		.post-profile-img {
			width : 100%;
			height : 100%;
		}
	}
	.post-inform {
		display : inline-block;
		vertical-align : top;
		padding-top : 3px;

		.post-user {
			display : block;
			color : black;
			text-decoration : none;
			font-size : 18px;
			font-weight : bold;
			letter-spacing : -2px;
			font-family : inherit;
		}
		.post-date {
			vertical-align : middle;
			position : relative;
			letter-spacing : -1px;
			font-size : 12px;
			color : #9197a3;
		}
	}
	.post-inside {
		padding : 9px 10px 8px 10px;
		display : block;
    .post-delete-cancel {
      color : $color-normal;
      cursor : pointer;
      float : right;
    }
	}
	.post-img-outer {
		display : inline-block;
		border-radius : 3px;
		margin-top : 10px;
		overflow : hidden;
		max-width : 100%;
		border : 1px solid #e1e2e3;
		.post-img-inner {
			max-height : 600px;
			display : block;
			max-width : 100%;
			-moz-transition : all 0.3s;
			-webkit-transition : all 0.3s;
			transition : all 0.3s;
			
			&:hover {
				cursor : pointer;
				transform : scale(1.1);
			}
		}
	}
}

.Post-animation {
  opacity : 0;
  animation-name: fadein;
}
