.Write {
  box-sizing : border-box;
  width : 100%;
  font-family : inherit;
  word-wrap : break-word;
  background-color : white;
  position : relative;
  font-size : 13px;
  letter-spacing : 0px;
  border : 1px solid;
  border-color : #e5e6e9 #dfe0e4 #d0d1d5;
  border-radius : 3px;
  display : block;
  margin-top : 10px;
  margin-bottom : 10px;
  transition : opacity .3s linear;
  text-decoration : none;
  cursor : default;
  color : black;
	padding : 10px;
	padding-bottom : 50px;
  @include media("<medium"){
    border-top : 0px;
    border-left : 0px;
    border-right : 0px;
    margin-top: 0px;
    margin-bottom : 0px;
    border-radius : 0px;
  }

	.write-text {
		-webkit-appearance : none;
		padding-top : 10px;
		border-top : 1px solid rgba(0,0,0,0.2);
		border-bottom : 1px solid rgba(0,0,0,0.2);
		border-left : 0px;
		border-right : 0px;
		border-radius : 0px;
		overflow-y : hidden;
		display : block;
		font-size : 14px;
		width : 100%;
		height : 100px;
		vertical-align : top;
		padding-left : 3px;
		transition : border-top .1s linear, border-bottom .1s linear;
		box-sizing : border-box;
		resize: none;
		
		&:focus {
			outline : 0;
			border-top : 1px solid $color-normal;
			border-bottom : 1px solid $color-normal;
		}
	}	
	.write-submit {
		margin-top : 8px;
		float : right;
		color : white;
		border-radius : 2px;
		box-sizing : border-box;
		text-align : center;
		line-height : 32px;
		background-color : $color-normal;
		font-size : 16px;
		width : 60px;
		height : 33px;

		&:hover {
			cursor : pointer;
		}
	}
	.write-label {
		margin-right : 14px;
		margin-top : 8px;
		width : 32px;
		height : 32px;
		float : right;
		border-radius : 2px;
		background : url("/images/upload-image.png");
		background-color : $color-normal;
		background-size : 20px 20px;
		background-repeat : no-repeat;
		background-position : center center;
		&:hover {
			cursor : pointer;
		}
	}
	.write-file {
		display : none;
	}
	.write-preview {
		width : 100%;
		white-space : nowrap;
		overflow-y : hidden;
		margin-bottom : 3px;
		.write-img {
			padding : 3px;
			margin-top : 10px;
			border : 2px solid $color-normal;
			background-size : cover;
			background-position : center center;
			background-repeat : no-repeat;
			width : 82px;
			height : 82px;
			margin-left : 4px;
			margin-right : 5px;
			position : relative;
			display : inline-block;
      
      .write-img-remove {
        display : none;
        position : absolute;
        top : 2px;
        right : 2px;
        width : 14px;
        height : 14px;
        background-color : $color-normal;
        cursor : pointer;
      }
      &:hover {
        .write-img-remove {
          display : block;
        }
      }
		}
	}
}

