.login-local {
  background-color: rgba(255, 92, 62, 0.9); }
  .login-local:hover {
    background-color: #ff5c3e; }

.login-facebook {
  display: none;
  background-color: #537bbd;
  margin-top: 8px;
  margin-bottom: 30px; }
  .login-facebook:hover {
    background-color: #2e4f84; }
  .login-facebook .auth-facebook-img {
    margin-right: 4px; }

.login-twitter {
  display: none;
  background-color: #1da1f2;
  margin-bottom: 30px; }
  .login-twitter:hover {
    background-color: #1da1f2; }
  .login-twitter .auth-twitter-img {
    width: 36px;
    height: 36px;
    margin-top: -7px; }
